<<<<<<< HEAD

=======
>>>>>>> 032766b5fbe990cb2802c11b16a9d264bd1acf3e
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.logo {
    font-weight: 700;
}

.hero-img {
    background-position: center;
    background-size: cover;
}

.nav-items {
<<<<<<< HEAD
    
=======
    border: ;
}

.forFont{
>>>>>>> 032766b5fbe990cb2802c11b16a9d264bd1acf3e
}