* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.logo {
    font-weight: 700;
}

.hero-img {
    background-size: cover;
}

nav{
    background-color: #990011ff;
    backdrop-filter: blur(4px);
}

.nav-items:hover {
    border-bottom: 1px solid black;
}
